<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="refresh" content="300">
   <style>
   #backtohome
{
background: linear-gradient(#ECF14A  ,#E3E4CF  );
}
   </style>
  </head>
  <body>
    <script>
    if (typeof window.location.origin === "undefined"){
    window.location.origin = window.location.protocol + "//" + window.location.host;
}
    </script>
    <script src="/js/login.js"></script>
    <h1>login successfully</h1>
      <button type="button" class="btn" id="backtohome">backtohome</button>
  </body>
</html>
