  h1
 {
   text-transform: capitalize;
text-align: center;
font-size: 50px;
font-family: Georgia;
font-style: italic;
font-weight: bold;
 background: linear-gradient(#ECF14A  ,#E3E4CF  );
 color: black;
 text-shadow: 2px 4px #FF0000;
 font-size: 50px;
position:static;
padding: 0px;
 }
 #login,#signup
 {
   background: linear-gradient(#ECF14A  ,#E3E4CF  );
 }
  .modal-header, h4, .close {
      background-color:#B4DEE9;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  h2
  {
      text-shadow: 2px 4px #FF0000;
  }
  body
  {
  background: linear-gradient(#676962,#BAF03E);
  }
  #myModal22
  {
background-color: #49DBF5 ;
  }
